<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "avatar.png", :class => "img-circle" %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.email %></p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-comment"></i>
          <span>Chats</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right"><%= @count_notification %></span>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="">
            <%= link_to home_bot_chats_path do %>
              <i class="fa fa-comment"></i>Chat Robot
            <% end %>
            <span class="pull-right-container">
              <span class="label label-primary pull-right"><%= @count_notification %></span>
            </span>
          </li>
          <li class="">
            <%= link_to home_bot_assistant_chat_path do %>
              <i class="fa fa-commenting-o"></i>Chat Personal
            <% end %>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-bar-chart"></i>
          <span>Analisis</span>
          <span class="pull-right-container">
            <!-- <span class="label label-primary pull-right">4</span> -->
          </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a href="#"><i class="fa fa-area-chart"></i>Analisis Lexico</a></li>
        </ul>
      </li>

      <li class="treeview">
        <%= link_to clients_path do %>
          <i class="fa fa-user"></i>
          <span>Customers</span>
          <span class="pull-right-container">
            <!-- <span class="label label-primary pull-right">4</span> -->
          </span>
        <% end %>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span>Send Broadcast</span>
          <span class="pull-right-container">
            <!-- <span class="label label-primary pull-right">4</span> -->
          </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a href="#"><i class="fa fa-paper-plane"></i>Mensaje a todos</a></li>
        </ul>
      </li>



    </ul>
  </section>
</aside>
